<%# <h1>For Map</h1> %>


<div id="planView">
  <div id="spotPlanningSection">
  </div>
  <div id="googleMapSection" 
       data-controller="mapInit"
       data-action="mapsLoaded@document->mapInit#renderMap"
       data-mapInit-target="initialmap"
  ></div>
</div>

