
#planView {
  display: flex;
}

#googleMapSection {
  width: 70%;
  height: 100vh;
}

#spotPlanningSection {
  width: 30%;
  min-width: 350px;
  height: 100vh;
  background-color: rgb(206, 206, 206);
}

#dataTitle {
  height: 15%;
  background-color: #fff
}
#dataBody {
  height: 85%;
  background-color: #fff
}